<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BotApiKey" value=""/>
    <add key="PrivateFilesChannelId" value=""/>
    <add key="SendFilesToChannel" value="True"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>