<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پنل مدیریت - تنظیمات</title>
    <link rel="stylesheet" href="assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/lib/all.min.css">
    <link rel="stylesheet" href="assets/css/default.css">
</head>

<body class="bg-dark">



    <section>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <a href="index.html" class="navbar-brand text-danger mr-4 ml-4">پنل مدیریت</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarTop">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse" id="NavbarTop">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="projects.html" class="nav-link"><span class="fa fa-code"></span> پروژه ها</a></li>
                    <li class="nav-item"><a href="posts.html" class="nav-link"><span class="fa fa-book"></span> پست ها</a></li>
                    <li class="nav-item"><a href="posts_edit.html" class="nav-link"><span class="fa fa-pencil-alt"></span> ویرایش/افزودن پست</a></li>
                    <li class="nav-item"><a href="settings.html" class="nav-link"><span class="fa fa-cogs"></span> تنظیمات</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">

                    <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle mr-2" id="userSetting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i><span id="username">  علی مومن زاده </span> </a>
                        <div class="dropdown-menu">
                            <a href="profile.html" class="dropdown-item"><i class="fa fa-edit mr-3"></i>پروفایل</a>
                            <a href="settings.html" class="dropdown-item"><i class="fa fa-cog mr-3"></i>تنظیمات</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="login.html" class="nav-link mr-5"><span class="fa fa-sign-out-alt"></span> خروج </a></li>
                </ul>
            </div>
        </nav>
    </section>


    <!----------------------------Top Label  Start---------------------------->
    <section id="topLabel">
        <div class="container-fluid">
            <div class="row text-white">
                <div class="col text-center py-5">
                    <h2><span class="fa fa-cogs"></span> تنظیمات</h2>
                </div>
            </div>
        </div>
    </section>
    <!----------------------------Top Label End---------------------------->






    <!----------------------------Tabel and slide menu Start---------------------------->
    <section>
        <div class="container-fluid">
            <div class="row my-5">
                <div class="col-lg-6 col-md-8 col-sm-10 col-12 text-white m-auto">
                    <form action="">
                        <div class="form-group">
                            <label for="">نام سایت</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">ایمیل</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">محل دخیره پشتیبان</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">توضیحات فوتر</label>
                            <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">متا سایت</label>
                            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger btn-block py-3">
                                <span class="fa fa-edit"></span>
                                <span>اعمال تغییرات</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!----------------------------Tabel and slide menu End---------------------------->



    <section class="pt-5 fixed-bottom">
        <div class="container-fluid">
            <div class="row pt-2 bg-primary text-white text-center">
                <div class="col-12">

                    <p>AMZEnterprise Copyright &copy; <span id="dateTime"></span></p>
                    <script>
                        document.getElementById("dateTime").innerHTML = new Date().getFullYear();
                    </script>
                </div>
            </div>
        </div>
    </section>

    <script src="assets/js/lib/jquery-3.3.1.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>

</body>

</html>